* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "GohuFont uni14 Nerd Font Propo";
  font-weight: 500;
  font-size: 14px;
  padding: 0;
}

window#waybar {
  background: none;
}

tooltip {
  background-color: #000;
  border: 2px solid #489c7a;
  font-family: "GohuFont uni14 Nerd Font Propo";
  padding: 10px;
}

#clock,
#tray,
#cpu,
#memory,
#battery,
#language,
#network,
#bluetooth,
#wireplumber,
#workspaces,
#submap {
  box-shadow: 5px 3px rgba(0, 0, 0, 0.3);
  background: #000;
  border-radius: 4px;
  margin: 6px 6px 6px 0px;
  padding: 2px 8px;
  color: #f6f5f4;
}

#cpu.critical,
#memory.critical,
#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #ddc7a1;
  color: #6c383b;
  border-radius: 4px;
}

#workspaces {
  margin: 6px 0px 6px 6px;
  padding: 1px;
}

#workspaces button {
  all: initial;
  min-width: 0;
  padding: 2px 4px;
  color: #489c7a;
}

#workspaces button.focused {
  color: #489c7a;
}

#workspaces button.active {
  color: #489c7a;
}

#workspaces button.urgent {
  background-color: #6c383b;
}
